.movie-image {
    width: 100%;
    height: 300px; /* Set your desired height */
    object-fit: cover; /* Ensures the image covers the area while maintaining aspect ratio */
}

/* movie-card.component.scss */

.profile-button {
  margin: 10px; /* Adjust margin as needed */  
}

