.movie-cards-container {
    max-height: 400px; 
    overflow-y: auto; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: flex-start; 
  }
  
  
  .movie-card.small {
    width: 200px; 
    margin: 10px; 
    background-color: whitesmoke;
  }
  
  .movie-card.small .mat-card-title {
    font-size: 14px; 
  }
  
  .movie-card.small .mat-card-subtitle {
    font-size: 12px; 
  }
  
  .movie-card.small .movie-image {
    width: 100%;
    height: auto;
  }
  
  .movie-card.small .mat-card-content {
    padding: 8px; 
  }
  
  .movie-card.small .mat-card-actions {
    justify-content: space-between; 
  }
  
  .dialog-header {
    text-align: center;
    margin-bottom: 20px; 
  }
  