.movie-cards-container {
    max-height: 400px; /* Set a maximum height for the container */
    overflow-y: auto; /* Enable vertical scrolling */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center align items horizontally */
    align-items: flex-start; /* Align items to the top */
  }
  
  
  .movie-card.small {
    width: 200px; /* Adjust width as per your design */
    margin: 10px; /* Adjust margin as needed */
  }
  
  .movie-card.small .mat-card-title {
    font-size: 14px; /* Adjust font size of title */
  }
  
  .movie-card.small .mat-card-subtitle {
    font-size: 12px; /* Adjust font size of subtitle */
  }
  
  .movie-card.small .movie-image {
    width: 100%; /* Ensure image fits within card */
    height: auto;
  }
  
  .movie-card.small .mat-card-content {
    padding: 8px; /* Adjust padding of content */
  }
  
  .movie-card.small .mat-card-actions {
    justify-content: space-between; /* Adjust alignment of actions */
  }
  
  .dialog-header {
    text-align: center;
    margin-bottom: 20px; /* Adjust margin as needed */
  }
  