<!-- 
  Displays a button to navigate to the list of all movies.
-->
<div>
  <button mat-button color="primary" routerLink="/movies">View All Movies</button>
</div>

<!-- Container for user profile information -->
<div class="user-profile-container">
  <div class="user-profile">
    <!-- Displays the user's username as the profile header -->
    <h2>{{ user.Username }}'s Profile</h2>
    <!-- Displays the user's email -->
    <p>Email: {{ user.Email }}</p>
    <!-- Displays the user's birthday, formatted as a date -->
    <p>Birthday: {{ user.BirthDate | date }}</p>
    <!-- Button to open the user details dialog -->
    <button mat-raised-button color="primary" (click)="openUserDetailsDialog()">View Details</button>
    <!-- Button to navigate to the edit profile page -->
    <button mat-raised-button color="accent" routerLink="/edit-profile">Edit Profile</button>
    <!-- Button to log out the user -->
    <button mat-button color="primary" (click)="logout()">Logout</button>
  </div>
</div>
